body {
  background-color: white;
}

#app {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

#mainPage {
  width: 75%;
  height: 800px;
  background-color: skyblue;
}

#loginBox {
  margin: 30px auto;
  display: block;
  border: 2px groove blue;
  padding: 5px;
  min-width: 400px;
  width: 80%;
}

#loginBox h1, #loginBox h2 {
  text-align: center;
}

 #loginBox button{
  text-align: center;
  margin: 10px auto;
  display: block;
}

#loginBox input {
  display: block;
  margin: 0 auto;
}
