body, div, h1, h2, h3, h4, p  {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
}
body {
  background-color: white;
}

#app {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
}

#mainPage {
  width: 75%;
  height: 800px;
  background-color: purple;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 0 auto;
}

#loginBox {
  margin: 30px auto;
  display: block;
  border: 2px groove blue;
  padding: 5px;
  min-width: 400px;
  width: 80%;
}

#loginBox h1, #loginBox h2 {
  text-align: center;
}

 #loginBox button{
  text-align: center;
  margin: 10px auto;
  display: block;
}

#loginBox input {
  display: block;
  margin: 0 auto;
}

#myQuizzes {
  max-height: 300px;
  width: 70%;
  display: block;
  border: orange 2px ridge;
  border-radius: 5px;
  margin-top: 10px;
  padding-top: 0;
}

#myQuizzes p {
  border: 2px black solid;
  padding: 3px;
  margin: 0;
  background-color: white;
  width: 100%;
  text-align: center;
}

#myQuizzes h1 {
  background-color: white;
  text-align: center;
  padding: 8px;

}

#quizView {
  min-height: 200px;
  width: 500px;
  background-color: white;
  border: purple ridge 3px;
  border-radius: 20px;
  position: absolute;
  display: block;
  width: 70%;
  margin: auto;
  top: 100px;
  left: 125px;
  padding:10px;
}

#quizView h2 {
  width: 100%;
  text-align: center;
}

#quizView div h3 {
  text-align: left;
}

#quizView div input {
 margin-bottom: 10px;
 margin-top: 5px;
}

#quizView button {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 50px;
}

#createQuizView {
  min-height: 200px;
  width: 500px;
  background-color: white;
  border: purple ridge 3px;
  border-radius: 20px;
  position: absolute;
  display: block;
  width: 70%;
  margin: auto;
  top: 100px;
  left: 125px;
  padding:10px;
}
